.App {
  font-size: calc(7px + 2vmin);
  background-color: #f7fff5;
  color: #6a7a94;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  margin-top: 2em;
}
