.form {
  text-align: center;
}

.errors {
  color: #dc3545;
  text-transform: uppercase;
  font-size: calc(5px + 1vmin);
}

.latest-message {
  text-transform: uppercase;
  font-size: calc(5px + 1vmin);
}
