.header {
  font-size: calc(2px + 2vmin);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

ol {
  padding: 0;
  max-height: 20vh;
  overflow-y: auto;
}

ol li {
  text-align: center;
  font-size: calc(5px + 1vmin);
}
